 <style>
     p {color:black; 
   text-align:center;  
   line-height:normal; 
   font-family: Verdana; 
   font-size: 18px;
   font-style:Italic;
   font-weight:normal;
   background-color: white;
   margin:auto;
   padding:inherit;
   float:none;
   }
  </style>
